@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

.app-container {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.home-container {
  width: 100%;
}

.logo {
  height: 3vw;
  margin-top: 1vw;
  margin-left: 2.8vw;
  transition: 0.3s;
}

.logo-toggled {
  height: 1.5vw;
  margin-top: 1vw;
  margin-left: 1vw;
  transition: 0.3s;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 3vw;
  box-shadow: 2px 2px 20px rgb(233, 233, 233);
  height: 5vw;
  width: auto;
}

.searchbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1vw
}

.search {
  outline: none;
  border: none;
  display: inline-block;
  color:rgb(172, 172, 172)
}

.search::placeholder {
  color:rgb(179, 179, 179);
  font-size: 1vw;

}

.notification-icon {
  margin-right: 3vw;
  margin-top: 1.7vw;
}





.sidebar {
  box-shadow: 2px 2px 20px rgb(233, 233, 233);
  width: 22vw;
  padding-bottom: 15%;
  transition: 0.3s;
}

.sidebar-toggled {
  box-shadow: 2px 2px 20px rgb(233, 233, 233);
  width: 8vw;
  padding-bottom: 15%;
  transition: 0.3s;
}

.user-img {
  margin-top: 2vw;
  height: 3.5vw;
  border-radius: 20vw;
  transition: 0.3s;
}

.user-img-toggled {
  margin-top: 2vw;
  margin-left: 0.6vw;
  height: 3vw;
  border-radius: 20vw;
  transition: 0.3s;
}

.side-user {
  margin-left: 1.8vw;
  margin-bottom: 3vw;
  display: flex;
  flex-direction: row;
  align-self: center;
  text-decoration: none;
  transition: 0.3s;
}

.side-user-link {
  text-decoration: none;
}

.side-user:hover {
  transform: scale(1.01);
}

.user-name {
  margin-top: 2.4vw;
  margin-bottom: 0;
  font-family: 'Montserrat', sans-serif;
  margin-left: 1vw;
  font-size: 1vw;
  color:rgb(73, 73, 73)
}

.user-email {
  margin-bottom: 0;
  margin-left: 1vw;
  margin-top: 0.4vw;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.7vw;
  color:rgb(170, 170, 170)

}

.separator {
  padding-bottom: 1vw;
  border-bottom: 1px solid rgb(236, 236, 236);
}

.side-item {
  margin: 1.5vw 0 1vw 2vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1vw;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 1vw;
  font-weight: 700;
  color:rgb(99, 99, 99);
  transition: 0.2s;
}

.side-item-toggled {
  margin: 1.5vw 0 1vw 3.2vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1vw;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 1vw;
  font-weight: 700;
  color:rgb(99, 99, 99);
  transition: 0.2s;
}

.side-item:hover {
  color: rgb(162, 162, 197);
}

h4 {
  padding: 0;
  margin: 0;
}

.toggle {
  border: none;
  background-color: white;
  color:rgb(105, 105, 105);
  margin-left: 2.6vw;
  margin-top: 15vw;
  transition: 0.3s;
}

.toggle:hover {
  color:rgb(172, 172, 172)
}





.dashboard {
  display: flex;
  flex-direction: row;
}





.tasks {
  margin-top: 2vw;
}

.task-container {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: space-between;
  margin-left: 3vw;
  margin-bottom: 1vw;
  width: 40vw;
  height: 8vw;
  box-shadow: 1px 1px 15px #e2e2e2;
  transition: 0.3s;
}

.task-container:hover {
  transform: scale(1.005);
}

.task-col1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.task-title {
  margin: 1vw 0 0 1vw;
  font-family: 'Montserrat', sans-serif;
  font-size: 1vw;
  color:rgb(80, 80, 80);
}

.task-due {
  margin: 0;
  margin-left: 1vw;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8vw;
  color:rgb(160, 160, 160);
}

.user-task {
  display: flex;
  flex-direction: row;
  font-family: 'Montserrat', sans-serif;
  color:rgb(99, 99, 99);
  gap: 1vw;
}

.user-task-img {
  margin-left: 1vw;
  height: 2vw;
  border-radius: 20vw;
}

.user-task-name {
  margin-left: 0vw;
  margin-top: 0.5vw;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9vw;
  color:rgb(131, 131, 131);
}

.task-col2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.task-type {
  margin-right: 1vw;
  margin-top: 1vw;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.75vw;
  color:rgb(197, 197, 197)
}

.task-btn {
  height: 1.5vw;
  width: 6vw;
  border: none;
  border-radius: 0.3vw;
  color: white;
  margin-right: 1vw;
  margin-bottom: 1vw;
}





.deals {
  height: 20vw;
  margin-left: 4vw;
  margin-top: 2vw;
  color:rgb(155, 155, 155);
  border-bottom: 1px solid rgb(216, 216, 216);
  padding-bottom: 3vw;
}

.task-pie {
  height: 1vw;
  padding: 0;
  margin: 0vw 5vw 5vw 9vw;
  color:rgb(155, 155, 155);
}

.task-pie-title {
  color:rgb(155, 155, 155);
  padding: 0;
  margin-left: 4.5vw;
  padding-top: 1vw;
}





.contacts {
  box-shadow: 1px 1px 20px #e2e2e2;
  margin-top: 1vw;
  margin-left: 1vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
}

.contacts-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: 'Montserrat', sans-serif;
  font-size: 1vw;
  color:rgb(88, 88, 88);
  width: 85%;
  margin-bottom: 2vw;
  margin-left: 1vw;
}

.contact {
  width: 15vw;
  margin: 0 1vw 0 1vw;
  font-size: 0.8vw;
}

.contacts-img-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 20vw;
  gap: 0.5vw;
}

.add-contact {
  height: 2.5vw;
  width: 10vw;
  border: none;
  border-radius: 0.3vw;
  background-color: #109CF1;
  color: white;
  font-weight: bold;
  box-shadow: 2px 2px 10px #e2e2e2;
  transition: 0.3s;
  margin: 1vw 0 0.2vw 71vw
}

.add-contact:hover {
  background-color: #5bb9f3;
}

.contact-separator {
  border-bottom: 1px solid rgb(228, 228, 228);
}

.selected {
  width: 15vw;
  margin: 0vw 1vw 1vw 1.5vw;
  font-size: 1vw;
  color:rgb(73, 73, 73);
  display: flex;
  flex-direction: row;
}

.trash-btn {
  border: none;
  background-color: white;
  padding-left: 1vw;
}




.profile {
  margin-left: 4vw;
  margin-top: 4vw;
  box-shadow: 2px 2px 10px #e2e2e2;
  padding: 4vw;
  width: 16vw;
  color:rgb(102, 102, 102)
}

.user-profile-img {
  height: 10vw;
  margin-left: 2.8vw;
  border-radius: 10vw;
  box-shadow: 2px 2px 10px #e2e2e2;
}





.email-list {
  margin: 3vw 0 0 4vw;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 2px 2px 10px #e2e2e2;
  width: 50%;

}

.div-email {
  display: flex;
  flex-direction: row;
  gap: 2vw;
  border: 1px solid rgb(202, 202, 202);
  padding-left: 1vw;
  transition: 0.3s;
}

.div-email:hover {
  transform: scale(1.02);
}

.div-chat {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(202, 202, 202);
  padding-left: 1vw;
  padding-bottom: 1vw;
  transition: 0.3s;
}

.div-chat:hover {
  transform: scale(1.02);
}

.settings {
  padding: 2vw;
}

.dummy-btns {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-top: 4vw;
  margin-left: 2vw;
  gap: 2vw;
}

.dummy-btns button{
  background-color: rgb(115, 113, 148);
  color: white;
  border: none;
  border-radius: 1vw;
  height: 2vw;
}

.dummy-btns button:hover {
  transform: scale(1.02);
}